@media (min-width: 640px) {
    .sm\:py-3 {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
}
.items-center {
    align-items: center;
}

.nav_mobile_option{
    padding: 20px;
    background: #42c8b740;
}

@media (min-width: 640px) {
    .sm\:w-32 {
        width: 8rem;
    }
}
.flex-col {
    flex-direction: column;
}
.bg-cta {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-cta) / var(--tw-bg-opacity, 1));
}
.login-btn {
    background-color: #42c8b7;
    color: white;
}

@media screen and (max-width: 768px) {
    #nav_web {
        display: none;
    }
    #navigation_nodes {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    #nav_mobile {
        display: none;
    }
}

